:root{
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
    --header-height: 120px;
    --header__navbar-height: 41px;
    /* --header-with-seach-height: calc(var(--header-height) - var(--header__navbar-height)); */
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: 'Slabo 27px', serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: Roboto Condensed, sans-serif; */
    color: #313f5f;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


