.nav-router-btn {
    position: relative;
}
.router-link::after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: .2rem;
    width: 0;
    left: 0;
    bottom: -.5rem;
    transition: .5s;
    border-radius: 1rem;
}

.router-link:hover::after {
    width: 100%;
}
